*{
    padding: 0;
    margin: 0;
    border-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    padding: 16px;
}
.nav-container .logo img{
    height: 60px;
    width: 139px;
}

.nav-container .menu{
    justify-content: space-between;
}
.nav-container .menu ul{
    display: flex;
}

.menu ul li{
    list-style: none;
    
}
.menu ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color:#000000;
    margin-left: 32px;
}
.btn{
    background-color: #30B868;
    padding: 12px 16px;
    border:none;
    font-size: 16px;
    font-weight: 600;
    color:#FFFFFF;
    border-radius: 4px;
}